<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>This is the first html template that we are creating</p>

        <br><br>
        <img src="https://images.squarespace-cdn.com/content/v1/64959c1091617327d9ef78bf/009ef101-a9af-4bda-97e9-417b48ce171f/Image+Post+Template+%2876%29.png" width="1000">

        
    </body>
</html>